<div class="container-fluid">
	<div class="row">
		<div class="col-md-2 sidebar"></div>
		<div class="col-md-10">
			<form class="form-horizontal" data-url="/tagproc/api/attorney" id="attorneyForm">
				<div class="form-group">
					<label for="att_first" class="col-sm-2 control-label">First Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="att_first" name="att_first" placeholder="Attorney's First Name" required>
					</div>
				</div>
				<div class="form-group">
					<label for="att_last" class="col-sm-2 control-label">Last Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="att_last" name="att_last" placeholder="Attorney's Last Name" required>
					</div>
				</div>
				<div class="form-group">
					<label for="att_firm" class="col-sm-2 control-label">Firm</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="att_firm" name="att_firm" placeholder="Firm">
					</div>
				</div>
				<div class="form-group">
					<label for="att_bar" class="col-sm-2 control-label">Bar Number</label>
					<div class="col-sm-10">
						<input type="tel" class="form-control" id="att_bar" name="att_bar" placeholder="Bar Number">
					</div>
				</div>
				<div class="form-group">
					<label for="att_phone" class="col-sm-2 control-label">Phone Number</label>
					<div class="col-sm-10">
						<input type="tel" class="form-control" id="att_phone" name="att_phone" placeholder="Phone Number">
					</div>
				</div>
				<div class="form-group">
					<label for="att_address" class="col-sm-2 control-label">Address</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="att_address" name="att_address" placeholder="Attorney's Address" required>
					</div>
				</div>
				<div class="alert alert-danger hide col-sm-offset-2 col-sm-10"></div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default btn-block">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
