<div class="container-fluid">
	<div class="row">
		<div class="col-md-2 sidebar"></div>
		<div class="col-md-10">
			<form class="form-horizontal" data-url="/tagproc/api/case">
			    <div class="form-group">
					<label for="account" class="col-sm-2 control-label">Account Responsible</label>
					<div class="col-sm-10">
						<select type="text" class="form-control" id="account" name="account" data-field="accountname" data-url="/tagproc/api/accounts" required>
							<option value="">Please select one...</option>
						</select>
					</div>
				</div>
				<!--
				<div class="form-group">
					<label for="client_username" class="col-sm-2 control-label">Username</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="client_username" name="client_username" placeholder="Client Username" required>
					</div>
				</div>
				<div class="form-group">
					<label for="client_password" class="col-sm-2 control-label">Password</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="client_password" name="client_password" placeholder="Client Password" required>
					</div>
				</div>
				<div class="form-group">
					<label for="client_account" class="col-sm-2 control-label">Account Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="client_account" name="client_account" placeholder="Client's Account Name" required>
					</div>
				</div>
				<div class="form-group">
					<label for="client_phone" class="col-sm-2 control-label">Phone</label>
					<div class="col-sm-10">
						<input type="tel" class="form-control" id="client_phone" name="client_phone" placeholder="Client's Phone #">
					</div>
				</div>
				<div class="form-group">
					<label for="client_fax" class="col-sm-2 control-label">Fax</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="client_fax" name="client_fax" placeholder="Client's Fax #">
					</div>
				</div>
				<div class="form-group">
					<label for="client_email" class="col-sm-2 control-label">E-mail</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" id="client_email" name="client_email" placeholder="E-mail">
					</div>
				</div>
				<div class="form-group">
					<label for="client_address" class="col-sm-2 control-label">Address</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="client_address" name="client_address" placeholder="Client's Address" required>
					</div>
				</div>
				<div class="form-group">
					<label for="client_city" class="col-sm-2 control-label">City</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="client_city" name="client_city" placeholder="City" required>
					</div>
				</div>
				<div class="form-group">
					<label for="client_state" class="col-sm-2 control-label">State</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="client_state" name="client_state" placeholder="State" required>
					</div>
				</div>
				<div class="form-group">
					<label for="client_zip" class="col-sm-2 control-label">Zip</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="client_zip" name="client_zip" placeholder="ZIP Code" required>
					</div>
				</div>
				<div class="alert alert-danger hide col-sm-offset-2 col-sm-10"></div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default btn-block">Submit</button>
					</div>
				</div>
				-->
			</form>
		</div>
	</div>
</div>
