<form enctype="multipart/form-data" class="form-horizontal" id="uploaderForm">
    <div class="form-group">
        <label for="file" class="col-md-2 control-label">Choose file</label>
        <div class="col-md-10">
            <input type="file" id="file" name="file" class="form-control" required>
        </div>
    </div>
	<div class="form-group">
		<label for="type" class="col-md-2 control-label">Document Type</label>
		<div class="col-md-10">
			<select name="type" id="type" class="form-control" required>
				<option value="">Select one...</option>
				<option value="doc">Documents</option>
				<option value="ros">Return of Service</option>
				<option value="completejob">Complete Job</option>
				<option value="courtreceipt">Court Receipts</option>
			</select>
		</div>
	</div>
    <div class="alert alert-danger hide col-sm-offset-2 col-sm-10"></div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
