<div class="container">
	<div class="text-center">
	    Copyright 2012 G&S LEGAL LLC. All rights reserved<br>
		<address>
            3500 N State Road 7 Suite 430, Lauderdale Lakes, FL 33319 Call (561)899.0777 Fax (754)200.4423
        </address>
	</div>
</div>
