<div class="container-fluid" style="position: relative">
    <img class="img-responsive"  src="app/images/tag_logo.jpg"/>
    <p class="text-right col-md-8" style="position: absolute; bottom: 0; right: 0; margin-bottom: 0px;">
        <small id="login-message">You're currently not logged in.</small>
    </p>
</div>
