<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<img class="img-rounded img-responsive pull-left col-md-6 col-xs-12" src="app/images/header_img1.jpg">
			<h3 style="margin-top: 0px;" class="col-md-6 text-left">We have over 11 years of experience in the process serving.</h3>
		</div>
		<div class="col-md-6 col-xs-12">
			<h3 style="margin-top: 0px;">Changing the way of process serving</h3>                                                                                                                                                                                            
			<h3>GREAT CUSTOMER SERVICE</h3>                                                                                                                                                                                                         
			<p class="text-info">With over 11 years of experience, TAG Process Service llc<br>                                                                                                                                                       
				We specialize in serving all documents. Through our technology <br>
				Which establish us as the leader in the process industry.</p>                                                                                                                                                                                                                                      
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<img class="img-rounded img-responsive pull-left col-md-6 col-xs-12" src="app/images/technology.png">
			<h3 style="margin-top: 0px;" class="col-md-6 text-left">We are the leaders in Technology in the Process Serving Industry.</h3>
		</div>  
		<div class="col-md-6 col-xs-12">
			<img class="img-rounded img-response pull-right" src="app/images/ts_logo.jpg">
			<h3 style="margin-top: 0px;">We are looking forward to working with you.</h3>
			<p class="text-info">For more information on our technology click <a href="#aboutus">About Us</a> </p>
			<p class="text-info">Here is a complete company directory <br>
				Or contact us via email by completing the <br>
				<a href="#contactus">contact us</a> form. </p>
		</div>
	</div>
</div>
