<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-links">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#home">TagProcess</a>
		</div>
		<div class="collapse navbar-collapse" id="nav-links">
			<button type="button" onclick="location.href='#login'" class="btn btn-default navbar-btn navbar-right">Sign In</button>
			<ul class="nav navbar-nav"></ul>
		</div>
	</div>
</nav>
