<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-links">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#home">TagProcess</a>
		</div>
		<div class="collapse navbar-collapse" id="nav-lnks">
			<ul class="nav navbar-nav">
				{{#each locations}}
				<li><a href="{{href}}">{{name}}</a></li>
				{{/each}}
			</ul>
		</div>
	</div>
</nav>
