<div id="services" class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h2>TAG PROCESS SERVICES LLC</h2>
                <p>Our competitors may offer numerous services, both related and unrelated to the service of process, TAG PROCESS flat rate pricing include many of the services you currently pay extra for with other process serving companies.</p>
                <h2>Our Price Includes:</h2>
                <ul>
                    <li>Picking up documents at your office</li>
                    <li>Issuing documents at respective courts</li>
                    <li>Effecting service</li>
                    <li>Skip trace bad addresses*</li>
                    <li>File return of service with respective court</li>
                </ul>
            </div>
            <div class="col-md-4 text-right">
                <img class="img-rounded img-responsive pull-left col-md-7 col-xs-12" src="app/images/android.jpg" style="height: 160px;"></img>
                <p class="text-info col-md-5 col-xs-12 text-left">The technology we have is designed to save our clients time and money. <a href="#contactus">Contact us</a> for more information and your 1st two jobs are FREE.</p>
            </div>
        </div>
        <h2>In Addition, Our Clients Enjoy:</h2>
        <h3>THE MOST COMPREHENSIVE WEBSITE</h3>
        <p>Featuring real-time information on every paper</p>
        <h3>PHOTOGRAPHIC, GPS COORDINATES, DATE AND TIME STAMPED EVIDENCE</h3>
        <p>Every attempt and serves available for viewing and printing at all times.</p>
        <h3>UNIFIED CALENDAR</h3>
        <p>See and print your pretrial/deposition calendar for any range of dates you select or export the entire calendar along with case and court information needed to manage appearances and outside counsel.</p>
        <h3>SKIP TRACING</h3>
        <p>By using our exclusive skip trace queue, clients can give feedback on any paper that's in our system requiring a skip trace. Also have full control of number of skips attempts and allowed on address before "Non- Serving."</p>
        <h3>VIEW AND PRINT AFFIDAVIT OF SERVICE</h3>
        <p>Copies of affidavits always available for download.</p>
        <h3>SEARCH AND REPORT</h3>
        <p>Search and reports feature allows our clients to search our database. Which allows our clients to give feed back on specific report with the requested information in the format you select.</p>
        <h3>DOWNLOAD CENTER</h3>
        <p>Our daily reports are delivered in the format needed, which allows our clients to view and manage their files. Which can then be imported into your collection software allowing you to update your files instantly.</p>
        <h3>INSTANT COMMUNICATION</h3>
        <p>By Sending an instant message directly to the desktop of your account manager for immediate action.</p>
        <h3>EASY FILE ACCESS</h3>
        <p>View cases and court information on current files</p>
</div>
