<ul class="nav nav-pills nav-stacked">
	{{#each locations}}
		<li {{#if active }} class="active" {{/if}}>
			<a 
			{{#if attributes}}
				{{#each attributes}}
					{{@key}}="{{this}}"
				{{/each}}
			{{/if}}
			href="{{href}}"> {{name}} </a>
		</li>
	{{/each}}
</ul>
<div id="sidebarWrapper"></div>
