{{#if admin}}
<li>
	<a href="#settings" id="settings"><span class="glyphicon glyphicon-cog"></span> Settings...</a>
</li>
{{/if}}
<li>
	<a href="#" id="logout"><span class="glyphicon glyphicon-log-out"></span> Log Out...</a>
</li>

